.bg {
  background-color: #00000039;
  padding: 10px;
}

.btn {
  margin-left: 5px;
  font-size: 20px;
  font-family: cursive, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.noURL {
  display: none;
}
.login_btn{
  background-color: #80ced7;
}